body {
  background-color: rgb(206, 243, 191);
}

.footer_nav {
  position: fixed;
  width: 100%;
  bottom: 0;
}

#home {
  width: 33%;
  float: left;
}

#search {
  width: 34%;
  justify-content: center;
}

#me {
  width: 33%;
  float: right;
}