<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <style media="screen">
    .shadow {
      position: fixed;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.3;
      filter: alpha(opacity:30);
      left: 0;
      top: 0;
    }

    .mod_dialog {
      width: 300px;
      height: 200px;
      border: 1px solid black;
      background: #fff;
      position: fixed;
      left: 50%;
      top: 50%;
      margin-left: -150px;
      margin-top: -100px
    }
  </style>
  <title>企业用户管理</title>
</head>

<body>
  <div class="page">
    <% include components/top.inc.ejs %>
      <div class="content-wrap">
        <table border="1" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>用户名</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0;i<comp_user.length;i++){ %>
              <tr>
                <td>
                  <%=comp_user[i].ID%>
                </td>
                <td>
                  <%=comp_user[i].username%>
                </td>
                <td>
                  <a href="?act=del&id=<%=comp_user[i].ID%>" onclick="return confirm('你真的要删吗？')">删除</a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
  </div>
</body>

</html>