<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公司_我</title>

  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/copm_me.css">

</head>

<body>
  <header>
    <div>
      <img id="img_head" src="../static/img/me.png" alt="">
    </div>
    <h1>白度科技有限公司</h1>
  </header>

  <div id="container">

    <a href="" class="a_block">
      <img class="img_a" src="../static/img/info.png" alt="">
      <h3>公司信息</h3>
      </span>
    </a>

    <a href="" class="a_block">
      <img class="img_a" src="../static/img/joblist.png" alt="">
      <h3>在招职位</h3>
    </a>

    <a href="" class="a_block">
      <img class="img_a" src="../static/img/send.png" alt="">
      <h3>投递信息</h3>
    </a>

    <a href="./comp_job_new.html" class="a_block">
      <img class="img_a" src="../static/img/new.png" alt="">
      <h3>发布职位</h3>
    </a>

  </div>

  <a href="./me_notLogIn.html">
    <button class="btn btn-danger btn-lg" id="btn_exit" onclick="return confirm('你确定要退出吗')">退出登录</button>
  </a>

  <footer class="footer_nav">
    <nav class="navbar-fixed-bottom" id="bottom_nav">

      <a href="./home.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <img id="img_icon" src="../static/icon/home.png" alt=""> 首页
        </button>
      </a>

      <a href="./search.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <img id="img_icon" src="../static/icon/search.png" alt=""> 发现
        </button>
      </a>
      <a href="#">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <img id="img_icon" src="../static/icon/me.png" alt=""> 我
        </button>
      </a>
    </nav>
  </footer>

</body>

</html>