<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>发布职位</title>

  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">

  <script>
    //注册

    $(function () {
      $('#btn_anno').click(function () {
        $.ajax({
          url: '/newJob',
          data: {
            job_name: $('#job_name').val(),
            job_comp: $('#job_comp').val(),
            job_desc: $('#job_desc').val(),
            job_req: $('#job_req').val()
          },
          dataType: 'json',
          success(res) {
            if (res.code) {
              alert('发布失败,' + res.msg);
            } else {
              location.href = '/comp_me.html';
            }
          },
          error(err) {
            alert('网络不通');
          }
        });
      });
    });

  </script>

</head>

<body>

  <header>
    <!-- 返回按钮 -->
    <a href="comp_me.html" id="back_btn">
      <img id="img_icon" src="../public/icon/back.png" alt="">
    </a>

    <h1 style="text-align: center">职位发布</h1>

  </header>

  <form action="" style="margin: 0 auto; text-align: center;">

    <div class="input-group" style="margin: 2rem;">
      <span class="input-group-addon">职位名称</span>
      <input id="job_name" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group" style="margin: 2rem;">
      <span class="input-group-addon">企业名称</span>
      <input id="job_comp" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group" style="margin: 2rem;">
      <span class="input-group-addon">企业邮箱</span>
      <input id="email" type="text" class="form-control" placeholder="" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group" style="margin: 2rem;">
      <span class="input-group-addon">职位描述</span>
      <div class="form-group">
        <textarea id="job_desc" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="input-group" style="margin: 2rem;">
      <span class="input-group-addon">职位要求</span>
      <div class="form-group">
        <textarea id="job_req" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <input type="button" class="btn btn-info btn-lg loadingButton" id="btn_anno" value="发布" ></input>

  </form>

  <script>
    $('.loadingButton').on('click', function () {
      var $btn = $(this).button('loading')
      // business logic...
      $btn.button('reset')
    })
  </script>

</body>

</html>