<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>公司登录/注册</title>

  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/stu_entr.css">

</head>

<body>

  <header>

    <!-- 返回按钮 -->
    <a href="me_notLogIn.html" id="back_btn">
      <span>
        <img src="../static/icon/back.png" alt="">
      </span>
    </a>

    <h1>企业入口</h1>

  </header>


  <!-- 注册登录表单 -->

  <form action="">

    <label for="">用户：</label>
    <input type="text" id="user">
    <br />
    <label for="">密码：</label>
    <input type="password" id="pass">
    <br />
    <a href="#">
      <input type="button" value="注册" id="btn_reg">
    </a>
    <a href="stu_me.html">
      <input type="button" value="登录" id="btn_login">
    </a>

  </form>
</body>

</html>