<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>职位详情</title>

  <!-- 本地库 -->
  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

  <link rel="stylesheet" href="../public/css/main.css">

  <style>
    #send,
    #like {
      width: 49%;
    }
    .btn_group {
      
    }
  </style>


</head>

<body>

  <header>
    <!-- 返回按钮 -->
    <a href="search.html" id="back_btn">
      <img id="img_icon" src="../public/icon/back.png" alt="">
    </a>

    <h1 style="text-align: center">职位详情</h1>

  </header>

  <div class="jumbotron">
    <p> <%= job_data.job_name %> </p>
    <a href="#"><%= job_data.job_comp %></a>
    <br>
    <br>
    <br>
    <div id="job_desc">
      <h4>职位描述</h4>
      <%= job_data.job_desc %>
    </div>
    <br>
    <br>
    <br>

    <div id="requirement">
      <h4>职位要求</h4>
      <p><%- job_data.job_req %></p>
    </div>

  </div>

  <div class="btn_group">

    <input class="btn btn-primary btn-lg" type="button" id="send" value="应聘"></input>
    <input class="btn btn-danger btn-lg" type="button" id="like" value="收藏"></input>

  </div>

</body>

</html>