<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我_未登录</title>

  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/me_notLogIn.css">

</head>

<body>

  <h1>请先登录或注册</h1>

  <div id="container">
    <div>
      <!-- 学生入口按钮 -->
      <a href="stu_entr.html">
        <button class="btn btn-info center-block logIn_btn">我是学生</button>
      </a>

      <!-- 企业入口按钮 -->
      <a href="comp_entr.html">
        <button class="btn btn-info center-block logIn_btn">我是企业</button>
      </a>
    </div>

  </div>

  <!-- 底部导航 -->
  <footer class="footer_nav">
    <nav class="navbar-fixed-bottom" id="bottom_nav">

      <a href="./home.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
            <img src="../static/icon/home.png" alt="">
            首页
        </button>
      </a>

      <a href="./search.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span>
            <img src="../static/icon/search.png" alt="">
            发现
          </span>
            
          </i>
        </button>
      </a>
      <a href="#">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span>
            <img src="../static/icon/me.png" alt="">
            我
          </span>
        </button>
      </a>
    </nav>
  </footer>
  
</body>

</html>