<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="jquery-3.2.1.js"></script>

  <style>
    body{
      background-color: #f06;
    }
  </style>

  <script>
    $(function () {
      $('#btn_reg').click(function () {
        $.ajax({
          url: '/reg',
          data: {
            user: $('#user').val(),
            pass: $('#pass').val()
          },
          dataType: 'json',
          success(res) {
            if (res.code) {
              alert('注册失败,'+res.msg);
            } else {
              alert('注册成功');
            }
          },
          error(err) {
            alert('网络不通');
          }
        });
      });
    });
  </script>

</head>

<body>

  用户：
  <input type="text" id="user">
  <br> 密码：
  <input type="password" id="pass">
  <br>
  <input type="button" value="注册" id="btn_reg">

</body>

</html>