<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>发现</title>

  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/search.css">

</head>

<body>
  <br>

  <!-- 输入框 -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="请输入你要搜索的职位">
    <span class="input-group-btn">
      <a href="../views/search_after.html">
        <button class="btn btn-default" type="button">
          <img id="img_icon" src="../static/icon/search.png" alt="">
          </span>
        </button>
      </a>
    </span>
  </div>

  <!-- 底部导航 -->
  <footer class="footer_nav">
      <nav class="navbar-fixed-bottom" id="bottom_nav">
  
        <a href="./home.html">
          <button type="button" class="btn btn-default btn-lg" id="home">
              <img id="img_icon" src="../static/icon/home.png" alt="">
              首页
          </button>
        </a>
  
        <a href="#">
          <button type="button" class="btn btn-default btn-lg" id="home">
            <span>
              <img id="img_icon" src="../static/icon/search.png" alt="">
              发现
            </span>
              
            </i>
          </button>
        </a>
        <a href="me_notLogIn.html">
          <button type="button" class="btn btn-default btn-lg" id="home">
            <span>
              <img id="img_icon" src="../static/icon/me.png" alt="">
              我
            </span>
          </button>
        </a>
      </nav>
    </footer>

</body>

</html>