<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>搜索结果</title>
</head>

<body>
  <!-- 输入框 -->
  <form action="">
    <input class="input" type="text" placeholder="请输入你要搜索的职位" id="keyWord">
    <button class="btn btn-default" id="btn_search">search</button>
  </form>

  <ul class="list-group">
    <% for(var i = 0; i < job_list.length; i++) { %>

      <li>

        <a href="/job_list?id=<%= job_list[i].job_id %>" class="list-group-item list-group-item-warning">

          <h4>
            <%= job_list[i].job_name %>
          </h4>
          <br />
          <h6>
            <%= job_list[i].job_comp %>
          </h6>
          <br />
        </a>

      </li>

      <% } %>

  </ul>
</body>

</html>