<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>发现</title>

  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search_after.css">

</head>

<body>
  <br>

  <!-- 输入框 -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="请输入">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
        </span>
      </button>
    </span>
  </div>


  <!-- 筛选菜单 -->

  <div class="container">
    <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-info">城市</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">北京</a>
        </li>
        <li>
          <a href="#">上海</a>
        </li>
        <li>
          <a href="#">广州</a>
        </li>
        <li>
          <a href="#">深圳</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-info">类型</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Action</a>
        </li>
        <li>
          <a href="#">Another action</a>
        </li>
        <li>
          <a href="#">Something else here</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-info">薪资</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Action</a>
        </li>
        <li>
          <a href="#">Another action</a>
        </li>
        <li>
          <a href="#">Something else here</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </div>

  </div>

  <ul class="list-group">
      <li class="list-group-item list-group-item-default article">
        <span class="badge">300/天</span>
        <h3>吉他手</h3>
        <h5>飞儿乐队</h5>
      </li>
      <li class="list-group-item list-group-item-info article">
        <span class="badge">500/天</span>
        <h3>钢琴家教</h3>
        <h5>星海音乐有限公司</h5>
      </li>
      <li class="list-group-item list-group-item-warning article">
        <span class="badge">200/天</span>
        <h3>游泳教练</h3>
        <h5>xx体育有限公司</h5>
      </li>
      <li class="list-group-item list-group-item-danger article">
        <span class="badge">100/天</span>
        外卖员
      </li>
      <li class="list-group-item list-group-item-info article">
        <span class="badge">50/天</span>
        发小广告
      </li>
    </ul>

  <!-- 底部导航 -->
  <footer class="footer_nav">
    <nav class="navbar-fixed-bottom" id="bottom_nav">

      <a href="./home.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span class="glyphicon glyphicon-home" aria-hidden="true">
            首页
          </span>
        </button>
      </a>

      <a href="#">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span class="glyphicon glyphicon-search" aria-hidden="true">
            发现
          </span>
        </button>
        </button>
      </a>

      <a href="./me_notLogIn.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span class="glyphicon glyphicon-user" aria-hidden="true">
            我
          </span>
        </button>
      </a>

    </nav>
  </footer>
</body>

</html>