<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>注册</title>

  <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script> -->
  <script src="jquery-3.2.1.js"></script>

  <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

  <!-- <link rel="stylesheet" href="../css/stu_login_reg.css"> -->

  <script>
    //注册

    $(function () {
      $('#btn_reg').click(function () {
        $.ajax({
          url: '/reg',
          data: {
            user: $('#user').val(),
            pass: $('#pass').val()
          },
          dataType: 'json',
          success(res) {
            if (res.code) {
              alert('注册失败,' + res.msg);
            } else {
              alert('注册成功');
            }
          },
          error(err) {
            alert('网络不通');
          }
        });
      });
    });


    //登录

    $(function () {
      $('#btn_login').click(function () {
        $.ajax({
          url: '/login',
          data: {
            user: $('#user').val(),
            pass: $('#pass').val()
          },
          dataType: 'json',
          success(res) {
            if (res.code) {
              alert('登录失败,' + res.msg);
            } else {
              alert('登录成功');
            }
          },
          error(err) {
            alert('网络不通');
          }
        });
      });
    });
  </script>


</head>

<body>

  <!-- 返回按钮 -->
  <a href="me_notLogIn.html" id="back_btn">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">返回</span>
  </a>

  <!-- 注册登录表单 -->

  用户：
  <input type="text" id="user">
  <br> 密码：
  <input type="password" id="pass">
  <br>
  <input type="button" value="注册" id="btn_reg">
  <input type="button" value="登录" id="btn_login">




</body>

</html>