<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我_已登录</title>

  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../css/stu_logined.css">

</head>

<body>

  <header>

  </header>

  <div id="container">
    <a href="" class="a_block">
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">
        <h3>个人信息</h3>
      </span>
    </a>
    <a href="" class="a_block">
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">
        <h3>我的简历</h3>
      </span>
    </a>
    <a href="" class="a_block">
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">
        <h3>我的收藏</h3>
      </span>
    </a>
    <a href="" class="a_block">
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">
        <h3>投递中</h3>
      </span>
    </a>

  </div>

  <a href="./me_notLogIn.html">
    <button class="btn btn-danger btn-lg" id="btn_exit">退出登录</button>
  </a>
  <!-- 底部导航 -->
  <footer class="footer_nav">
    <nav class="navbar-fixed-bottom" id="bottom_nav">

      <a href="./home.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span class="glyphicon glyphicon-home" aria-hidden="true">
            首页
          </span>
        </button>
      </a>

      <a href="./seach.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span class="glyphicon glyphicon-search" aria-hidden="true">
            发现
          </span>
        </button>
      </a>
      <a href="#">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span class="glyphicon glyphicon-user" aria-hidden="true">
            我
          </span>
        </button>
      </a>
    </nav>
  </footer>

</body>

</html>