<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学生_个人信息</title>

  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">

</head>

<body>

  <header>
    <!-- 返回按钮 -->
    <a href="stu_me.html" id="back_btn">
        <img id="img_icon" src="../static/icon/back.png" alt="">
    </a>

    <h1 style="text-align: center">个人信息</h1>

  </header>

  <img src="../static/icon/me.png" alt="">

</body>

</html>