<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="../public/css/main.css">

  <style>
    ul{
      margin: 0 auto;
      text-align: center;
      font-size: 2rem;
    }
    li {
      list-style-type: none;
      margin: 2rem 0;
    }
    h1 {
      text-align:center;
    }
  </style>

</head>

<body>

  <header>
    <!-- 返回按钮 -->
    <a href="stu_me.html" id="back_btn">
        <img id="img_icon" src="../public/icon/back.png" alt="">
    </a>

    <h1>个人信息</h1>

  </header>

  <ul>

    <li>
      <%= stu_info.realname %>
    </li>
    
    <li>
      <%= stu_info.email %>
    </li>

    <li>
      <%= stu_info.intro %>
    </li>

  </ul>

</body>

</html>