<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学生登录/注册</title>

  <!-- 本地库 -->
  <!-- <script src="../public/lib/jquery-3.3.1.js"></script> -->
  <!-- <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script> -->

  <!-- 线上CDN -->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/stu_entr.css">

  <!-- <link rel="stylesheet" href="../css/stu_login_reg.css"> -->

  <!-- 登录注册 -->
  <script>
    //注册

    $(function () {
      $('#btn_reg').click(function () {
        $.ajax({
          url: '/stu_reg',
          data: {
            user: $('#user').val(),
            pass: $('#pass').val()
          },
          dataType: 'json',
          success(res) {
            if (res.code) {
              alert('注册失败,' + res.msg);
            } else {
              alert('注册成功');
            }
          },
          error(err) {
            alert('网络不通');
          }
        });
      });
    });


    //登录

    $(function () {
      $('#btn_login').click(function () {
        $.ajax({
          url: '/stu_login',
          data: {
            user: $('#user').val(),
            pass: $('#pass').val()
          },
          dataType: 'json',
          success(res) {
            if (res.code) {
              alert('登录失败,' + res.msg);
            } else {
              location.href = '/stu_me.html';
            }
          },
          error(err) {
            alert('网络不通');
          }
        });
      });
    });
  </script>


</head>

<body>

  <header>

    <!-- 返回按钮 -->
    <a href="me_notLogIn.html" id="back_btn">
      <span>
        <img src="../static/icon/back.png" alt="">
      </span>
    </a>

    <h1>学生入口</h1>

  </header>


  <!-- 注册登录表单 -->


  <form action="">

    <label for="">用户：</label>
    <input type="text" id="user">
    <br />
    <label for="">密码：</label>
    <input type="password" id="pass">
    <br />

    <input type="button" value="注册" id="btn_reg">

    <!-- <a href="stu_me.html"> -->
    <input type="button" value="登录" id="btn_login">
    <!-- </a> -->

  </form>


</body>

</html>