<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>学生_简历</title>

  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <link rel="stylesheet" href="../public/css/main.css">

  <style>

input {
  margin: 0 auto;
}

  </style>

</head>

<body>

  <header>
    <!-- 返回按钮 -->
    <a href="stu_me.html" id="back_btn">
      <img id="img_icon" src="../static/icon/back.png" alt="">
    </a>

    <h1 style="text-align: center">我的简历</h1>

  </header>

  <form name="form1" id="form1" style="margin: 0 auto; text-align: center;">

      <input  type="file" name="photo" id="photo" class="btn btn-lg">
      <input type="button" name="b1" value="提交" onclick="fsubmit()" class="btn btn-lg btn-info">

  </form>

</body>

</html>