<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>发现</title>

  
  <script src="../public/lib/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="../public/lib/bt-3.3.7.min.css">
  <script src="../public/lib/bt-3.3.7.min.js"></script>

  <!--  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->


  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/search.css">


</head>

<body>
  <br>

  <!-- 输入框 -->
  <form action="">
    <input class="input" type="text" placeholder="请输入你要搜索的职位" id="keyWord">
    <input class="btn btn-default" type="button" id="btn_search" value="搜索">
  </form>



    <ul class="list-group">
      <% for(var i = 0; i < stu_list.length; i++) { %>

      <li>
      
        <a href="/stu_list.html" class="list-group-item list-group-item-warning">
        
          <h4><%= stu_list[i].realname %></h4>
          <br />
          <h6><%= stu_list[i].school %></h6>
          <br>          
        </a>  

      </li>

      <% } %>

    </ul>
    

  <!-- 底部导航 -->
  <footer class="footer_nav">
    <nav class="navbar-fixed-bottom" id="bottom_nav">

      <a href="./home.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <img id="img_icon" src="../public/icon/home.png" alt=""> 首页
        </button>
      </a>

      <a href="#">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span>
            <img id="img_icon" src="../public/icon/search.png" alt=""> 发现
          </span>

          </i>
        </button>
      </a>

      <a href="stu_me.html">
        <button type="button" class="btn btn-default btn-lg" id="home">
          <span>
            <img id="img_icon" src="../public/icon/me.png" alt=""> 我
          </span>
        </button>
      </a>
    </nav>
  </footer>

</body>

</html>