/*首页轮播图*/

.carousel {
  height: 25%;
  background-color: #ddd;
}

.carousel .item {
  height: 25%;
  background-color: #ddd;
}

.carousel img {
  width: 100%;
}

h1 {
  margin: 2rem 0;
  text-align: center;
}


li.article {
  display: block;
  width: 100%;
  height: 8rem;
  font-size: 3rem;
}

.badge {
  font-size: 2rem;
  margin: 2rem 1rem 2rem 0;
}