/*首页轮播图*/

.carousel {
  height: 25%;
  background-color: #ddd;
}

.carousel .item {
  height: 25%;
  background-color: #ddd;
}

.carousel img {
  width: 100%;
}

.media {
  margin: 0;
  padding: 0.4rem
}



.badge {
  font-size: 2rem;
  margin: 2rem 1rem 2rem 0;
}

.article_date {
  float: right;
  margin-right: 2rem;
}

