<style>
  body {
    background-color: #222;
    color: white;
    margin: auto 0;
    text-align: center;
  }
  a{
    color: white;
    text-decoration: none;
  }

  .top-wrap {
    margin: 3rem 0;
  }

</style>

<div class="top-wrap">
  <a href="/admin/">管理首页 |</a>
  <a href="/admin/banners">banner设置 |</a>
  <a href="/admin/stu_user">学生用户管理 |</a>
  <a href="/admin/comp_user">企业用户管理 |</a>
</div>
